<!--Leira Salene-->
<!--head will be added from /partial/head file-->
<%- include('../../partial/head'); %>

    <body>
        <!--header will be added from /partial/header file-->
        <%- include('../../partial/header'); %>
            
            <%- include('../../partial/footer'); %>
    </body>